$black: #1C1C1C;
$white: #ffffff;
$gold: #bdae82;
$transition: .4s;
$title-font: 'Merriweather', serif;
$border: 2px solid $gold;

@mixin svg ($width: auto, $height: auto) {
    width: $width;
    height: $height;
    fill: $white;
    transition: $transition;
    cursor: pointer;

    &:hover {
        fill: $gold;
    }
}

@mixin background ($path) {
  background-image: url($path);
  background-position: center;
  background-repeat: no-repeat;
}

@mixin flex ($justify-content: flex-start, $align-items: flex-start) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

%items {
    @include flex(space-between);
    flex-wrap: wrap;
    font-size: 18px;
}

%item {
    @include flex($align-items: center);
    flex-direction: column;
    gap: 20px;

    & > * {
        text-align: center;
    }
}

%offset {
    margin-left: 15px;
    margin-right: -15px;
}

%title-table {
    font-size: 32px;
}

%auto-margin {
    margin: {
        left: auto;
        right: auto;
    };
}

%button-dark {
    background-color: $black;
    border: 2px solid $gold;
    color: $gold;
}