$white: #ffffff;
$gold: #bdae82;
$transition: .4s;
$title-font: 'Merriweather', serif;
%svg {
    fill: $white;
    transition: $transition;
    cursor: pointer;

    &:hover {
        fill: $gold;
    }
}

@mixin flex ($justify-content: flex-start, $align-items: flex-start) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

%items {
    @include flex(space-between);
    flex-wrap: wrap;
}

%item {
    @include flex($align-items: center);
    flex-direction: column;

    & > * {
        text-align: center;
    }
}