.button {
    width: 220px;
    height: 55px;
    border: none;
    font-family: inherit;
    transition: $transition;

    &_dark {
        background-color: transparent;
        border: 2px solid $gold;
        color: $gold;
    }

    &_light, &_active {
        background-color: $gold;
    }

    &_active {
        color: $black;
    }

    &:hover {
        color: $white;
        // font-size: 20px;
    }
}