html {
  scroll-behavior: smooth;
  background: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

.section {
  margin-left: 20px;
  margin-right: 20px;

  @media screen and (max-width: 1000px) {
    margin-left: 60px;
    margin-right: 60px;
  }
}
// Hero start
.wrapper_hero {
  @include background ('./assets/img/hero-bg.jpg');

  @media screen and (max-width: 1000px) {
    background-position: -5px -30px;
    background-size: auto 620px;
  }
}

.section__hero {
  // margin-left: 0px;
  padding-top: 290px;

  @media screen and (max-width: 1000px) {
    padding-top: 168px;
  }

  & > * {
    margin-left: 80px;
    max-width: 35%;

    @media screen and (max-width: 1000px) {
      margin-left: 0;
      max-width: 60%;
    }
  }
}

.page-title {
  font-family: $title-font;
  font-size: 60px;
  margin-bottom: 50px;

  @media screen and (max-width: 768px) {
    font: {
      size: 32px;
      weight: 400;
    }
    margin-bottom: 20px;
}
}

.hero__inf {
  margin-bottom: 30px;
  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }
}

.button__hero {
  margin-bottom: 330px;
  @media screen and (max-width: 768px) {
    margin-bottom: 150px;
  }
}
// Hero end

// Portfolio start

.portfolio-buttons {
  margin: 0 auto 60px;
  // width: min-content;
  @include flex(center);
  flex-wrap: wrap;
  gap: 5px;
}

// Portfolio end

// Video start
.video-section {
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}


.video-player {
  position: relative;
  @include flex(center, center);

  &__img {
    width: 100%;
  }

  &__hover {
    position: absolute;
    width: 8.5%;
  }
}

// Video end

// Price start

.price {
  margin-bottom: 100px;
}

// Price end

// Contact start
.wrapper_contact {
  @include background ('./assets/img/contacts-bg.jpg');

  @media screen and (max-width: 1000px) {
    background-position: -250px 5px;
    background-size: auto 620px;
  }
}

.section-contact {
  margin-left: 0px;
  @media screen and (max-width: 768px) {
    margin-right: 0;
  }
}

.contact {
  max-width: 450px;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 195px;

  @media screen and (max-width: 768px) {
    margin: {
      right: auto;
      left: auto;
    };
    @include flex($align-items: center);
    flex-direction: column;
  }

  &__title {
    margin-bottom: 60px;
    padding: 0;
    background-color: transparent;
  }

  &__input {
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: inherit;
    color: $gold;
    border: $border;
    background: transparent;

    &::placeholder {
      color: $gold;
    }
  }

  &__area {
    margin-bottom: 30px;
    height: 100px;
    resize: none;
  }
}

// Contact end

// Footer start

.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  @include flex(space-between);

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    margin: {
      right: auto;
      left: auto;
    };
    max-width: fit-content;
  }


  & > * {
    @include flex();
    gap: 20px;
  }
  &__name {
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
   }
}