html {
  scroll-behavior: smooth;
  background: black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;

}

.section {
  margin-left: 20px;
  margin-right: 20px;

  @media screen and (max-width: 1000px) {
    margin-left: 60px;
    margin-right: 60px;
  }
}
// Hero start
.wrapper_hero {
  @include background ('./assets/img/hero-bg.jpg');
}

.section__hero {
  // margin-left: 0px;
  padding-top: 290px;

  & > * {
    margin-left: 80px;
    max-width: 490px;
  }
}

.page-title {
  font-family: $title-font;
  font-size: 60px;
  margin-bottom: 50px;
}

.hero__inf {
  margin-bottom: 30px;
}

.button__hero {
  margin-bottom: 330px;
}
// Hero end

// Portfolio start

.portfolio-buttons {
  margin: 0 auto 60px;
  width: 65%;
  @include flex(space-between);
}

// Portfolio end

// Video start

.video-player {
  position: relative;
  @include flex(center, center);

  &__img {
    width: 100%;
  }

  &__hover {
    position: absolute;
  }
}

// Video end

// Price start

.price {
  margin-bottom: 100px;
}

// Price end

// Contact start
.section-contact {
  margin-left: 0px;
  @include background ('./assets/img/contacts-bg.jpg');
}

.contact {
  max-width: 450px;
  margin-left: auto;
  padding-top: 80px;
  padding-bottom: 195px;

  &__title {
    margin-bottom: 60px;
    padding: 0;
    background-color: transparent;
  }

  &__input {
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: inherit;
    color: $gold;
    border: $border;
    background: transparent;

    &::placeholder {
      color: $gold;
    }
  }

  &__area {
    margin-bottom: 30px;
    height: 100px;
    resize: none;
  }
}

// Contact end

// Footer start

.footer {
  margin-top: 50px;
  margin-bottom: 50px;
  @include flex(space-between);


  & > * {
    @include flex();
    gap: 20px;
  }
}