.container__header {
    position: absolute;
    @include flex($align-items: center);
    margin-top: 25px;
    // background-color: transparent;
  }

.switch-language {
    margin-left: 30px;
    &__gold {
        color: $gold;
    }
}