.items {
    @extend %items;
}

.price__items {
    margin: {
        left: auto;
        right: auto;
    }
    row-gap: 50px;
    @media screen and (max-width: 1390px) {
        max-width: 450px;
    }
}

.skills-items {
    margin-left: 35px;
    gap: 10px;
    @media screen and (max-width: 1225px) {
        max-width: 800px;
        margin: {
            left: auto;
            right: auto;
        }
    }
    @media screen and (max-width: 785px) {
        margin-left: 0;
    }
    @media screen and (max-width: 690px) {
        justify-content: center;
        gap: 30px;
    }
}

.item {
    @extend %item;

}

.skill-item {
    max-width: 280px;
    min-height: 240px;
    justify-content: flex-end;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 62px 50px;

    &:nth-child(1) {
        background-image: url('./assets/svg/camera.svg');
    }
    &:nth-child(2) {
        background-image: url('./assets/svg/video.svg');
    }
    &:nth-child(3) {
        background-image: url('./assets/svg/image.svg');
    }
    &:nth-child(4) {
        background-image: url('./assets/svg/mic.svg');
    }
}


.skill__title {
    font-size: 20px;
    font-weight: 700;
}

.skill__inf {
    font-size: 18px;
}

.portfolio-img {
    @extend %items;
    gap: 20px;

    & > * {
        max-width: 450px;
    }

    @media screen and (max-width: 1430px) {
        max-width: 920px;
        margin: {
            left: auto;
            right: auto;
        };
    }

    @media screen and (max-width: 1000px) {
        justify-content: center;
    }
}

.price__item {
    gap: 30px;
    max-width: 450px;
    padding: 43px 115px;
    border: $border;
    @media screen and (max-width: 575px) {
        padding: 35px 60px;
        width: 100%;
    }
}

.price__title {
    font-family: $title-font;
    font-size: 28px;
    font-weight: 700;
}

.price__button {
    margin-top: 20px;
}

.price__dollars {
    font-weight: 700;
    color: $gold;
    font-size: 24px;
}