.nav {
    margin-left: auto;
}

.nav-list {
    @include flex(flex-end, center);
}

.nav-link {
    padding: 0 15px;
    line-height: 40px;
    transition: .3s;
    cursor: pointer;

    &:hover {
        color: $gold;
    }
}



