.theme_light {
  &.button_light.button_white {
    background-color: $white;

    &:hover {
      background-color: $black;
      color: $gold;
    }
  }

  &.button_dark {
    color: $black;
    background-color: $gold;

    &:hover {
        color: $white;
    }

  &.button_active {
    @extend %button-dark;
  }
  }

  // Header

  &.icon {
    fill: $black;

    &:hover {
      fill: $gold;
    }
  }

  @media screen and (max-width: 805px) {
    &.nav {
      background-color: $white;
    }
  }

  &.switch-language span {
    color: $black;
  }

  &.switch-language_active {
    color: $white;
  }

  // Hero

  &.wrapper_hero {
    background-image: url(../../assets/img/hero-bg-light.jpg);
  }
}

body.theme_light {
  color: $black;
}

a.theme_light {
  color: $black;
}
